.vs/**
Debug/**
Release/**
lavaSawndIDReplaceAssist/Debug/**
lavaSawndIDReplaceAssist/Soundbank_Mapping_Output/**
lavaSawndIDReplaceAssist/Junk/**
lavaSawndIDReplaceAssist/correspondanceOutput.txt
lavaSawndIDReplaceAssist/sound.txt
!**/.gitkeep
