.vs/**
Debug/**
Release/**
lavaSawndIDReplaceAssist/Debug/**
lavaSawndIDReplaceAssist/Mappings/**
lavaSawndIDReplaceAssist/Junk/**
lavaSawndIDReplaceAssist/correspondanceOutput.txt
lavaSawndIDReplaceAssist/sound.txt
!**/.gitkeep
